params.input_folder = '../tables/input_data'

profiles {
    standard {
        process.executor = 'local'
    }
    cluster {
        process.executor = 'sge'
        process.cpus = 1
        process.penv = 'smp'
        process.errorStrategy = 'ignore'
    }
}

executor {
    $sge {
        queueSize = 15
        pollInterval = '30sec'
    }
}

process {
    withLabel: manycpu {
        cpus = params.numcores
    }
    withName: runDescStats {
        container = '/home/szabo/myScratch/images/metabolomics.sif'
    }
    withName: hitlistCreator {
        container = '/home/szabo/myScratch/images/metabolomics.sif'
    }
    withName: pwORA {
        container = '/home/szabo/myScratch/images/metabolomics.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
}
