params.input_folder = '/home/rstudio/local_files/input_data'
params.table_folder = '/home/rstudio/local_files/tables'
params.figure_folder = '/home/rstudio/local_files/figures'
params.report_folder = '/home/rstudio/local_files'
params.report_filename = 'basic_metabolomics_report.pdf'
params.report_title = 'A sample metabolomics report'
params.report_author = 'Anonymus'
params.ttest_tag = 'ttests'
params.mroc_tag = 'mulotiroc'
params.ora_tag = 'ora'
params.msea_tag = 'msea'
params.kegg_tag = 'kegg'
params.numcores = 8

profiles {
    standard {
        process.executor = 'local'
    }
    cluster {
        process.executor = 'sge'
        process.cpus = 1
        process.penv = 'smp'
        process.errorStrategy = 'ignore'
    }
}

executor {
    $sge {
        queueSize = 15
        pollInterval = '30sec'
    }
}

process {
    withLabel: manycpu {
        cpus = params.numcores
    }
}
