params.input_folder = '../tables/input_data'
params.ttest_tag = 'ttests'
params.mroc_tag = 'mulotiroc'
params.numcores = 8

profiles {
    standard {
        process.executor = 'local'
    }
    cluster {
        process.executor = 'sge'
        process.cpus = 1
        process.penv = 'smp'
        process.errorStrategy = 'ignore'
    }
}

executor {
    $sge {
        queueSize = 15
        pollInterval = '30sec'
    }
}

process {
    withLabel: manycpu {
        cpus = params.numcores
    }
    withName: runDescStats {
        container = 'szabogtamas/containerized_metabolomics:latest'
    }
    withName: hitlistCreator {
        container = 'szabogtamas/containerized_metabolomics:latest''
    }
    withName: pwORA {
        container = 'szabogtamas/containerized_metabolomics:latest'
    }
}

singularity {
    enabled = true
    autoMounts = true
}
